<%- include('./partials/header.ejs') %>
<h1>Evening report</h1>
<%- include('./partials/errors.ejs') %>
<% const names = ['', 'Very poor', 'Bad', 'Okay', 'Good', 'Excellent']; %>
<form method="POST" action="/behavior/reporting/evening">
    <h3>Sports and exercise</h3>
    <label for="sport">Number of hours spent on sports and exercise</label>
    <input type="number" id="sport" name="sport_time" step="0.1" value="<%=populated[0]%>">
    <h3>Studying</h3>
    <label for="study">Number of hours spent studying</label>
    <input type="number" id="study" name="study_time" step="0.1" value="<%=populated[1]%>">
    <h3>Regularity and quality of eating</h3>
    <div class="row">
        <% for( let index = 1; index < 6; index++ ) { %>
        <div class="column">
            <input type="radio" id="eat<%=index%>" name="eating" value="<%=index%>" <% if (populated.includes(`eat${index}`)) { %>checked="checked"<% } %>>
            <label class="label-inline" for="eat<%=index%>"><b><%=names[index]%></b></label>
        </div>
        <% } %>
    </div>
    <h3>Generic mood</h3>
    <div class="row">
        <% for( let index = 1; index < 6; index++ ) { %>
        <div class="column">
            <input type="radio" id="mood<%=index%>" name="mood" value="<%=index%>" <% if (populated.includes(`mood${index}`)) { %>checked="checked"<% } %>>
            <label class="label-inline" for="mood<%=index%>"><b><%=names[index]%></b></label>
        </div>
        <% } %>
    </div>
    <h3>Date for submission</h3>
    <input type="date" name="date" value="<%= dateToday %>">
    <input type="submit" value="Submit report">
</form>
<%- include('./partials/footer.ejs') %>
